APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 192.168.1.23DATABASE = edu_marking_systemUSERNAME = rootPASSWORD = 654321HOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX = edu_[REDIS]HOSTNAME = 192.168.1.23AUTH = ''PORT = 6379SELECT = 1EXPIRE = 129600[LANG]default_lang = zh-cn